<div class="content-menu-top">
  <app-head-content></app-head-content>
  <div class="topic">
    <h4>บันทึกรายการ</h4>
    <span> สร้าง/บันทึก/ค้นหา/เปลี่ยนแปลง เอกสาร </span>
  </div>
</div>
<div class="menu-page">
 


  <div class="d-flex menu-list">
    <div class="menu-img">
      <img src="assets/images/img_menuItems/menuitem2.jpg" alt="" />
    </div>
    <div class="menu-desc">
      <div class="pointer" data-toggle="collapse" href="#menu3">
        <p>ระบบเบิกจ่าย</p>
        <span>
          ขอเบิกเงิน,ขอจ่ายโดยส่วนราชการ,ขอถอนคืนรายได้,บันทึกรายการเงินประกัน,หนังสือรับรองภาษีหัก ณ
          ที่จ่าย,อนุมัติเบิก และอนุมัติจ่าย
        </span>
      </div>
      <div class="collapse" id="menu3">
        <ul>
          <li>
           
         
          <li>
            <p data-toggle="collapse" href="#menu3-6">» อนุมัติรายการ</p>
            <ul class="collapse" id="menu3-6">
              <li><a routerLink="/om01"> อม01 » อนุมัติเอกสารขอเบิก » </a></li>
              <li><a routerLink="/om02"> อม02 » อนุมัติเอกสารเพื่อสั่งจ่าย » </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  



  
</div>